<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ng-to-demo</title>
  <link rel="stylesheet" type="text/css" href="lib/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="style/main.css">
</head>
<body ng-app="TodoApp">

  <nav class="navbar navbar-default" ng-controller="NavCtrl">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Todo App</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        
        </li>
      </ul> -->
      
      <ul class="nav navbar-nav navbar-right" ng-repeat="elementName in navItems">
        <li><a ng-href="{{elementName.url}}">{{elementName.Url}}{{elementName.name}}</a></li>
      
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


  <div ng-controller="TodoCtrl">
    <div clas="row">
      <div class="col-xs-6 col-xs-offset-3">
        <button class="col-xs-6 btn btn-success" ng-click="allItems()">Todo List</button>
        <button class="col-xs-6 btn btn-info" ng-click="newItem()">New Todo</button>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 main-container">
        <div class="col-xs-12" ng-view></div>
      </div>
    </div>
  </div>



  <script src="lib/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="lib/bower_components/angular/angular.min.js"></script>
  <script src="lib/bower_components/angular-route/angular-route.min.js"></script>
  <script src="app/app.js"></script>
  <script src="app/controller/navCtrl.js"></script>
  <script src="app/controller/todoCtrl.js"></script>
  <script src="app/controller/itemListCtrl.js"></script>
  <script src="app/controller/itemNewCtrl.js"></script>
  <script src="app/controller/itemViewCtrl.js"></script>
</body>
</html>